.stopwatch{
    max-width: 300px;
    margin: 200px auto;
    background-color: rgb(224, 158, 236);
    padding: 80px 100px 50px 100px;
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
}
button{
    padding: 10px 20px;
    background-color: #541a66;
    color: white;
    font-size: large;
}
.times{
    font-size: large;
    list-style: none;
    padding: 10px;
    text-align: center;
}
body{
    background-color: #70316b;
}